index:

  #here are the type of indices defined that can be be used to index your source
  #currently item and file indice types are supported
  types:
    - item
    - file
    - package
    - project

  #here are the identifiers used to index the confifuration files of your indices
  #read more about identifers at indices - identifiers (TODO link here)
  identifiers:
    item: ".item.index"
    file: ".file.index"
    package: ".package.index"
    project: ".project.index"


