index:
  types:
    - item
    - file
  #here are the identifiers used to index the confifuration files of your indices
  #read more about identifers at indices - identifiers (TODO link here)
  identifiers:
    item: ".item.index"
    file: ".file.index"
    package: ".package.index"
    project: ".project.index"


